@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

@mixin mobile {
  @media (max-width: 414px) {
    @content;
  }
}

.header {
  position: fixed;
  // top: 0; --> is this needed when scrolling comes into play?
  background-color: black;
  color: whitesmoke;
  box-shadow: 0 0 8px 8px rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 0 3%;
  z-index: 2;

  h1 {
    font-family: 'Ranchers';
  }
}

.headerRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;

  h3 {
    font-family: 'Ranchers';
    cursor: pointer;
    @include mobile {
      display: none
    }
  }
}

svg {
  cursor: pointer;
}