@mixin mobile {
  @media (max-width: 414px) {
    @content;
  }
}

.searchBar {
  transform: translate(0,-100%);
  position: relative;
  background-color: #ffe9ec;
  top: 60px;
  width: 100%;
  height: 150px;
  padding-top: 8%;
  text-align: center;
  transition: transform 0.4s;

  &.show {
    transform: translate(0,0);
  }

  @include mobile {
    height: 80px
  }

}

