$transition-time: 0.5s;

@mixin mobile {
  @media (max-width: 414px) {
    @content;
  }
}

.modal {
  display: none;
  margin: auto;
  height: 300px;
  transition: height $transition-time;
  width: 50%;
  background-color: #ffe9ec;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  box-shadow: 2px 10px 10px rgb(0, 0, 0, 0.2);

  &.createAccount {
    transition: height $transition-time;
    height: 400px;
  }

  form {
    width: 75%;
    margin-top: 5%;
  }
  
  input {
    margin-bottom: 3%;
    height: 50px;
    width: 100%;
    border: 1px solid black;
    font-size: 125%;
  }

  input:not([type=button]) {
    padding-left: 3%
  }

  &.show {
    display: block;
  }

  @include mobile {
    width: 85%;
  }
}

.formContainer {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    position: absolute;
    top: 15px;
    left: 15px;
  }
}

// this <input> is going to change opacity at the same speed that the submit button slides down to reveal it
.firstName {
  opacity: 0;
  transition: $transition-time;

  &.show {
    opacity: 1;
    transition: $transition-time;
  }
}

// this button is going to slide down to reveal the firstName input
.btn {
  background: black;
  color: whitesmoke;
  cursor: pointer;
  transform: translate(0, -120%);
  transition: transform $transition-time;

  &.slide {
    transform: translate(0,0);
  }
}

h3 {
  margin-top: -10%;
  text-decoration: underline;
  cursor: pointer;
  transition: margin-top $transition-time;
  
  &.slide {
    margin-top: 3%;
    transition: margin-top $transition-time;
  }
}