@mixin mobile {
  @media (max-width: 414px) {
    @content;
  }
}

.modal {
  display: none;
  margin: auto;
  height: 300px;
  transition: height 0.3s;
  width: 50%;
  background-color: #ffe9ec;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  box-shadow: 2px 10px 10px rgb(0, 0, 0, 0.2);

  &.createAccount {
    transition: height 0.3s;
    height: 400px;
  }

  form {
    width: 75%;
  }
  
  input {
    margin-bottom: 3%;
    height: 50px;
    width: 100%;
    border: 1px solid black;
    font-size: 125%;
  }

  input:not([type=button]) {
    padding-left: 3%
  }

  &.show {
    display: block;
  }
}

.formContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// make this transition smoother, works for now but isn't great
.firstName {
  display: none;

  &.show {
    display: inherit;
  }
}

.btn {
  background: black;
  color: whitesmoke;
  cursor: pointer;
}

h3 {
  text-decoration: underline;
  cursor: pointer;
}