.hamburger {
  display: inline-block;
  
  .bar {
    width: 35px;
    height: 3px;
    background-color:white;
    margin: 6px 0;
    transition: 0.4s;
  
    // rotate and hide hamburger spans 
    &.showX {
      
      &.one {
        transform: rotate(-45deg) translate(-9px, 6px);
      }
      
      &.two {
        opacity: 0;
      }
    
      &.three {
        transform: rotate(45deg) translate(-8px, -8px);
      }
    }
  }
}  